/*  contourfill - -38 134,0,212 */
/*  contourfill -38 -36 95,13,189 */
/*  contourfill -36 -34 107,27,227 */
/*  contourfill -34 -32 117,72,250 */
/*  contourfill -32 -30 138,121,247 */
/*  contourfill -30 -28 4,18,179 */
/*  contourfill -28 -26 24,49,214 */
/*  contourfill -26 -24 56,104,235 */
/*  contourfill -24 -22 111,154,247 */
/*  contourfill 24 26 219,10,7 */
/*  contourfill 26 28 189,4,4 */
/*  contourfill 28 30 156,2,20 */
/*  contourfill 30 32 196,24,98 */
/*  contourfill 32 34 232,39,120 */
/*  contourfill 34 36 245,88,174 */
/*  contourfill 36 38 240,144,216 */
/*  contourfill 38 -  247,59,213 */
.Temperature_-39	{ stroke: none; fill: rgba(148,178,242,1.00); }
.Temperature_-39_-36	{ stroke: none; fill: rgba(0,80,171,1.00); }
.Temperature_-36_-33	{ stroke: none; fill: rgba(6,98,196,1.00); }
.Temperature_-33_-30	{ stroke: none; fill: rgba(24,122,219,1.00); }
.Temperature_-30_-27	{ stroke: none; fill: rgba(17,141,250,1.00); }
.Temperature_-27_-24	{ stroke: none; fill: rgba(64,169,255,1.00); }
.Temperature_-24_-21	{ stroke: none; fill: rgba(101,189,247,1.00); }
.Temperature_-21_-18	{ stroke: none; fill: rgba(0,103,140,1.00); }
.Temperature_-18_-15	{ stroke: none; fill: rgba(2,123,163,1.00); }
.Temperature_-15_-12	{ stroke: none; fill: rgba(0,155,186,1.00); }
.Temperature_-12_-9	{ stroke: none; fill: rgba(34,188,212,1.00); }
.Temperature_-9_-6	{ stroke: none; fill: rgba(103,219,230,1.00); }
.Temperature_-6_-3	{ stroke: none; fill: rgba(163,243,247,1.00); }
.Temperature_-3_0	{ stroke: none; fill: rgba(212,255,255,1.00); }
.Temperature_0_3	{ stroke: none; fill: rgba(5,179,138,1.00); }
.Temperature_3_6	{ stroke: none; fill: rgba(2,212,149,1.00); }
.Temperature_6_9	{ stroke: none; fill: rgba(138,237,187,1.00); }
.Temperature_9_12	{ stroke: none; fill: rgba(204,255,208,1.00); }
.Temperature_12_15	{ stroke: none; fill: rgba(235,252,207,1.00); }
.Temperature_15_18	{ stroke: none; fill: rgba(235,255,122,1.00); }
.Temperature_18_21	{ stroke: none; fill: rgba(255,234,128,1.00); }
.Temperature_21_24	{ stroke: none; fill: rgba(247,212,35,1.00); }
.Temperature_24_27	{ stroke: none; fill: rgba(245,180,0,1.00); }
.Temperature_27_30	{ stroke: none; fill: rgba(242,149,0,1.00); }
.Temperature_30_33	{ stroke: none; fill: rgba(240,116,0,1.00); }
.Temperature_33_36	{ stroke: none; fill: rgba(255,83,36,1.00); }
.Temperature_39	{ stroke: none; fill: rgba(247,23,7,1.00); }