.Cloudiness_1	{ stroke:none; fill: rgb(238,238,238) }
.Cloudiness_2	{ stroke:none; fill: rgb(222,222,222) }
.Cloudiness_3	{ stroke:none; fill: rgb(206,206,206) }
.Cloudiness_4	{ stroke:none; fill: rgb(190,190,190) }
.Cloudiness_5	{ stroke:none; fill: rgb(166,166,166) }
.Cloudiness_6	{ stroke:none; fill: rgb(150,150,150) }
.Cloudiness_7	{ stroke:none; fill: rgb(134,134,134) }
.Cloudiness_8	{ stroke:none; fill: rgb(118,118,118) }
