.Precipitation_001_01	{ stroke:none; fill: rgb(205,210,255) }
.Precipitation_01_02	{ stroke:none; fill: rgb(75,235,235) }
.Precipitation_02_05	{ stroke:none; fill: rgb(20,180,180) }
.Precipitation_05_1	{ stroke:none; fill: rgb(120,230,90) }
.Precipitation_1_15	{ stroke:none; fill: rgb(80,175,60) }
.Precipitation_15_2	{ stroke:none; fill: rgb(45,130,15) }
.Precipitation_2_3	{ stroke:none; fill: rgb(255,185,60) }
.Precipitation_3_4	{ stroke:none; fill: rgb(255,135,20) }
.Precipitation_4_5	{ stroke:none; fill: rgb(230,90,0) }
.Precipitation_5_inf	{ stroke:none; fill: rgb(235,0,0) }
