.Tdiff_inf_6	{ stroke:none; fill: rgb(255,0,255) }
.Tdiff_6_4	{ stroke:none; fill: rgb(255,49,49) }
.Tdiff_4_2	{ stroke:none; fill: rgb(255,115,66) }
.Tdiff_2_1	{ stroke:none; fill: rgb(255,189,33) }
.Tdiff_1_0	{ stroke:none; fill: rgb(247,255,0) }
.Tdiff_0_1	{ stroke:none; fill: rgb(222,247,49) }
.Tdiff_1_2	{ stroke:none; fill: rgb(189,239,83) }
.Tdiff_2_4	{ stroke:none; fill: rgb(115,231,49) }
.Tdiff_4_6	{ stroke:none; fill: rgb(49,214,0) }
.Tdiff_6_10	{ stroke:none; fill: rgb(0,181,0) }
.Tdiff_10_inf	{ stroke:none; fill: rgb(0,165,90) }
