.TemperatureIsoline       { fill: none; stroke: black; stroke-width: 1px; opacity: 0.8; font-family: Arial; font-size: 8}
.TemperatureLabelText       { stroke: none; fill: black; text-anchor: begin; font-family: Verdana; font-size: 12 }

