.LegendText		{ stroke: none; fill: black; text-anchor: start; font-family: Roboto; font-size: 14 }
.SmallLegendText	{ stroke: none; text-anchor: start; font-family: Roboto; font-size: 10 }
.Land			{ stroke: none; fill: rgb(246,246,246) }
.Border			{ stroke: black; stroke-width: 0.3px; fill: none }
.OpenWater		{ stroke: black; stroke-width: 0.2; fill: rgb(150,200,255) }
.VeryOpenIce		{ stroke: black; stroke-width: 0.2; fill: rgb(140,255,160) }
.OpenIce		{ stroke: black; stroke-width: 0.2; fill: rgb(255,255,0) }
.CloseIce		{ stroke: black; stroke-width: 0.2; fill: rgb(255,125,7) }
.NewIce			{ stroke: black; stroke-width: 0.2; fill: rgb(255,175,255) }
.VeryCloseIce		{ stroke: black; stroke-width: 0.2; fill: rgb(255,0,0) }
.LevelIce		{ stroke: black; stroke-width: 0.2; fill: rgb(255,100,255) }
.ConsolidatedIce	{ stroke: black; stroke-width: 0.2; fill: rgb(145,0,0) }
.RottenFastIce		{ stroke: black; stroke-width: 0.2; fill: rgb(100,115,160) }
.FastIce		{ stroke: black; stroke-width: 0.2; fill: rgb(150,150,150) }
.IceFree		{ stroke: black; stroke-width: 0.2; fill: rgb(255,255,255) }


.MapFrameWhite  { fill: white; stroke: black; stroke-width: 0.5; }
.IceThicknessLegend       { stroke: black; stroke-width: 0.5px; fill: rgb(255,255,255) }
.TemperatureIsoline    { fill: none; stroke: black; stroke-width: 0.7; opacity: 0.8; }
.MeanTemperature        { stroke: black; stroke-width: 1.0px; fill: rgb(255,255,255) }
.TemperatureIsolineLabel    { stroke: none; stroke-width: 0.0px; fill: white }
.IceMapLandMask	       { stroke: rgb(110,110,110); fill: rgb(225,225,225); stroke-width: 0.2 }
.IceMapLandMask2	{ stroke: black; fill: none; stroke-width: 0.7 }
.Harbour	        { fill: none; stroke: black; stroke-width: 0.5 }
.IceBreakerLegend        { stroke: black; stroke-width: 1.0px; fill: white }
.CoordinateLine        { stroke: black; stroke-width: 0.5; }
.FractureTick         { fill: none; stroke: black; stroke-width: 5; stroke-dasharray: 1,10; opacity: 1.0; }
.FractureLine          { fill: none; stroke: black; stroke-width: 1.0; }
.IceEdge               { fill: none; stroke: black; stroke-width: 1.0; }
.EstimatedIceEdge      { fill: none; stroke-dasharray: 5,5; stroke: black; stroke-width: 1.0; }
.NordStreamReference    { fill:none; stroke: rgb(128,0,128); stroke-width: 1.5; }
.NordStreamOption    { fill:none; stroke: rgb(128,0,128); stroke-dasharray: 10,3; stroke-width: 1.5; }
.NordStreamBlock     { stroke: black; stroke-width: 0.5px; fill: rgb(255,255,255); opacity: 0.8; }
.NordStreamBlockMarker     {  fill:none; stroke:  rgb(128,0,128); stroke-width: 1.5 }

.StationMarker		{ fill: none; stroke: black; stroke-width: 0.2px }
.StationName		{ fill: black; font-family: Roboto; font-size: 11; text-decoration: underline }
.WindRose		{ fill: none; stroke: black; stroke-width: 0.2px; stroke-dasharray: 3,3 }
.RoseConnector		{ stroke: black; stroke-width: 0.2px; stroke-dasharray: 2,2 }
.LightWind		{ fill: green; stroke: black; stroke-width: 0.5px }
.ModerateWind		{ fill: yellow; stroke: black; stroke-width: 0.5px }
.HeavyWind		{ fill: red; stroke: black; stroke-width: 0.5px }
.RoseTemperature	{ fill: black; font-family: Roboto; font-size: 10 }
.RoseMeanWind		{ fill: black; font-family: Roboto; font-size: 10; font-weight: bold; letter-spacing: -0.03em }
.RoseMaxWind		{ fill: black; font-family: Roboto; font-size: 10 }
.RoseLegendText		{ stroke: none; fill: black; text-anchor: end; font-family: Roboto; font-size: 10 }
