.FlashCount_20_30	{ stroke: none; fill: rgba(109,227,48,1.00); }
.FlashCount_30_40	{ stroke: none; fill: rgba(234,244,66,1.00); }
.FlashCount_40_50	{ stroke: none; fill: rgba(255,225,0,1.00); }
.FlashCount_50_60	{ stroke: none; fill: rgba(255,192,1,1.00); }
.FlashCount_60_70	{ stroke: none; fill: rgba(255,156,1,1.00); }
.FlashCount_70_80	{ stroke: none; fill: rgba(255,121,1,1.00); }
.FlashCount_80_90	{ stroke: none; fill: rgba(255,85,1,1.00); }
.FlashCount_90		{ stroke: none; fill: rgba(239,9,9,1.00); }
