.StationMarker	{ fill: none; stroke: black; stroke-width: 0.2px }
.StationName	{ fill: black; font-family: Roboto; font-size: 11; text-decoration: underline }
.WindRose	{ fill: none; stroke: black; stroke-width: 0.2px; stroke-dasharray: 3,3 }
.RoseConnector	{ stroke: black; stroke-width: 0.2px; stroke-dasharray: 2,2 }
.LightWind	{ fill: green; stroke: black; stroke-width: 0.5px }
.ModerateWind	{ fill: yellow; stroke: black; stroke-width: 0.5px }
.HeavyWind	{ fill: red; stroke: black; stroke-width: 0.5px }
.RoseTemperature	{ fill: black; font-family: Roboto; font-size: 10 }
.RoseMeanWind		{ fill: black; font-family: Roboto; font-size: 10; font-weight: bold; letter-spacing: -0.03em }
.RoseMaxWind		{ fill: black; font-family: Roboto; font-size: 10 }
.RoseLegendText		{ stroke: none; fill: black; text-anchor: end; font-family: Roboto; font-size: 10 }