{
    "defs":
    {
	"layers": [
	    {
		"tag": "symbol",
		"attributes":
		{
		    "id": "get_legend_graphic_rect"
		},
		"layers": [
		    {
			"tag": "rect",
			"attributes":
			{
			    "width": "14",
			    "height": "9"
			}
		    }
		]
	    }
	]
    },
    "layer_type": "legend",
    "x": <TMPL_var isoband_symbol_xpos>,
    "y": <TMPL_var isoband_symbol_ypos>,
    "dx": 0,
    "dy": 9,
    "isobands": <TMPL_var isoband_json>,
    "symbols":
    {
	"css": "<TMPL_var isoband_css>",
	"symbol": "get_legend_graphic_rect",
	"attributes":
	{
	    "stroke": "black",
	    "stroke-width": "0.5"
	}
    },
    "labels":
    {
	"separator": "-",	// en dash = " \u2013 "
	"dx": 18,
	"dy": 9,
	"conversions":
	{
	    "10": "&#62; 10"
	}
    },
     "layers" : 
     [
        {
	    "tag": "text",
	    "cdata": "<TMPL_var isoband_header>",
	    "attributes":
	    {
		"x": <TMPL_var isoband_text_xpos>,
		"y": <TMPL_var isoband_text_ypos>,
		"class": "Units"
	    }
	},
	{
	    "tag": "text",
	    "cdata": "<TMPL_var isoband_unit>",
	    "attributes":
	    {
		"x": <TMPL_var isoband_unit_xpos>,
		"y": <TMPL_var isoband_unit_ypos>,
		"class": "Units"
	    }
	}
    ]
}
