{
    "layer_type": "legend",
    "x": 30,
    "y": 30,
    "dx": 0,
    "dy": 0,
   "symbols":
    {
        "symbol": ""
    },
     "layers" : [
 <TMPL_if defined(symbol_group_header)>
        {
            "tag": "text",
            "cdata": "<TMPL_var symbol_group_header>",
            "attributes":
            {
                "x": <TMPL_var header_xpos>,
                "y": <TMPL_var header_ypos>
            }
        },</TMPL_if> 
	<TMPL_if defined(symbol_group)><TMPL_foreach symbol_group as symbol>
	<TMPL_UNLESS symbol.__first__>,</TMPL_UNLESS>
        {
            "layer_type": "symbol",
            "symbol": "<TMPL_var symbol.name>",
            "positions":
            {
                "x": <TMPL_var symbol.xpos>,
                "y": <TMPL_var symbol.ypos>,
                "dx": 99999,
                "dy": 99999
            }
        },
	{
            "tag": "text",
            "cdata": "<TMPL_var symbol.text>",
            "attributes":
            {
                "x": <TMPL_var symbol.text_xpos>,
                "y": <TMPL_var symbol.text_ypos>
            }
        }
    </TMPL_foreach>
 </TMPL_if>
    ]
}
