<?xml version="1.0" encoding="UTF-8"?>
<WMS_Capabilities version="<TMPL_var version_string>" 
		   <TMPL_if defined(headers)><TMPL_var headers></TMPL_if>>
<Service>
  <Name>WMS</Name>
  <Title><TMPL_var title></Title>
  <TMPL_if defined(abstract)>
  <Abstract><TMPL_var abstract></Abstract>
  </TMPL_if>
  <TMPL_if defined(keywords)>
  <KeywordList>
    <TMPL_foreach keywords as keyword>
      <Keyword><TMPL_var keyword></Keyword>
    </TMPL_foreach>
  </KeywordList>
  </TMPL_if>
  <OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<TMPL_var online_resource>"/>
  <ContactInformation>
    <ContactPersonPrimary>
      <ContactPerson><TMPL_var contact_person></ContactPerson>
      <ContactOrganization><TMPL_var organization></ContactOrganization>
    </ContactPersonPrimary>
      <ContactPosition><TMPL_var contact_position></ContactPosition>
    <ContactAddress>
        <AddressType><TMPL_var contact_address_type></AddressType>
        <Address><TMPL_var contact_address></Address>
        <City><TMPL_var contact_address_city></City>
        <StateOrProvince><TMPL_var contact_address_province></StateOrProvince>
        <PostCode><TMPL_var contact_address_post_code></PostCode>
        <Country><TMPL_var contact_address_country></Country>
    </ContactAddress>
      <ContactVoiceTelephone><TMPL_var telephone_number></ContactVoiceTelephone>
      <ContactFacsimileTelephone><TMPL_var facsimile_number></ContactFacsimileTelephone>
  </ContactInformation>
  <TMPL_if defined(fees)>
  <Fees>
   <TMPL_var fees>
  </Fees>
  </TMPL_if>
  <TMPL_if defined(access_constraints)>
  <AccessConstraints>
    <TMPL_var access_constraints>
  </AccessConstraints>
  </TMPL_if>
</Service>

<Capability>
  <Request>
    <GetCapabilities>
      <Format>text/xml</Format>
      <DCPType>
        <HTTP>
          <Get><OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" 
			       xlink:type="simple" 
			       xlink:href="<TMPL_var getmap_uri>" />
	  </Get>
          <Post><OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" 
			       xlink:type="simple" 
				xlink:href="<TMPL_var getmap_uri>" />
	  </Post>
        </HTTP>
      </DCPType>
    </GetCapabilities>
    <GetMap>
  <TMPL_if defined(mapformats)>
    <TMPL_foreach mapformats as mapformat>
      <Format><TMPL_var mapformat></Format>
    </TMPL_foreach>
  </TMPL_if>
      <DCPType>
        <HTTP>
          <Get><OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<TMPL_var getmap_uri>"/></Get>
          <Post><OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<TMPL_var getmap_uri>"/></Post>
        </HTTP>
      </DCPType>
    </GetMap>
  </Request>
  <Exception>
    <Format>XML</Format>
  </Exception>

  <TMPL_if defined(inspire_extended_capabilities)>
    <inspire_vs:ExtendedCapabilities>
      <inspire_common:MetadataUrl xsi:type="inspire_common:resourceLocatorType">
	<inspire_common:URL><TMPL_var inspire_metadata_url></inspire_common:URL>
	<inspire_common:MediaType>application/vnd.ogc.csw.GetRecordByIdResponse_xml</inspire_common:MediaType>
      </inspire_common:MetadataUrl>
      <inspire_common:SupportedLanguages xsi:type="inspire_common:supportedLanguagesType">
	<inspire_common:DefaultLanguage>
	  <inspire_common:Language><TMPL_var inspire_default_language></inspire_common:Language>
	</inspire_common:DefaultLanguage>
	<inspire_common:SupportedLanguage>
	  <inspire_common:Language><TMPL_var inspire_supported_language></inspire_common:Language>
	</inspire_common:SupportedLanguage>
      </inspire_common:SupportedLanguages>
      <inspire_common:ResponseLanguage>
	<inspire_common:Language><TMPL_var inspire_response_language></inspire_common:Language>
      </inspire_common:ResponseLanguage>
    </inspire_vs:ExtendedCapabilities>
  </TMPL_if>

 <Layer>
  <Title><TMPL_var layers_title></Title>
  <Abstract></Abstract>
  <TMPL_if defined(wms_layers)><TMPL_var wms_layers></TMPL_if>
 </Layer>
</Capability>
</WMS_Capabilities>
