{
    "defs":
    {
	"layers": [
	    {
		"tag": "symbol",
		"attributes":
		{
		    "id": "<TMPL_var isoline_symbol_id>"
		},
		"layers": [
		    {
			"tag": "path",
			"css": "<TMPL_var isoline_css>",
			"attributes":
			{
			    "d": "M10 10 L20 10 Z",
			    "class": "<TMPL_var isoline_class>"			    
			}
		    }
		]
	    }
	]
    },
    "layer_type": "legend",
    "x": 30,
    "y": 30,
    "dx": 0,
    "dy": 0,
   "symbols":
    {
        "symbol": ""
    },
     "layers" : 
     [
 	{
	    "layer_type": "symbol",
	    "symbol": "<TMPL_var isoline_symbol_id>",
	    "positions":
	    {
		"x": <TMPL_var isoline_symbol_xpos>,
		"y": <TMPL_var isoline_symbol_ypos>,
		"dx": 99999,
		"dy": 99999
	    }
	},
        {
	    "tag": "text",
	    "cdata": " <TMPL_var isoline_header>",
	    "attributes":
	    {
		"x": <TMPL_var isoline_text_xpos>,
		"y": <TMPL_var isoline_text_ypos>
	    }
	}
    ]
}
