<?xml version="1.0" encoding="UTF-8"?>
<WMS_Capabilities version="<TMPL_var version_string>" 
		  xmlns="http://www.opengis.net/wms" 
		  xmlns:sld="http://www.opengis.net/sld" 
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		  xmlns:ms="http://mapserver.gis.umn.edu/mapserver" 
		  xmlns:inspire_common="http://inspire.ec.europa.eu/schemas/common/1.0" 
		  xmlns:inspire_vs="http://inspire.ec.europa.eu/schemas/inspire_vs/1.0" 
		  xsi:schemaLocation="http://www.opengis.net/wms http://schemas.opengis.net/wms/1.3.0/capabilities_1_3_0.xsd  http://www.opengis.net/sld http://schemas.opengis.net/sld/1.1.0/sld_capabilities.xsd  http://inspire.ec.europa.eu/schemas/inspire_vs/1.0  http://inspire.ec.europa.eu/schemas/inspire_vs/1.0/inspire_vs.xsd">
<Service>
  <Name>WMS</Name>
  <Title><TMPL_var title></Title>
  <Abstract><TMPL_var abstract></Abstract>
  <KeywordList>
    <TMPL_foreach keywords as keyword>
      <Keyword><TMPL_var keyword></Keyword>
    </TMPL_foreach>
  </KeywordList>
  <OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<TMPL_var online_resource>"/>
  <ContactInformation>
    <ContactPersonPrimary>
      <ContactPerson><TMPL_var contact_person></ContactPerson>
      <ContactOrganization><TMPL_var organization></ContactOrganization>
    </ContactPersonPrimary>
      <ContactPosition><TMPL_var contact_position></ContactPosition>
    <ContactAddress>
        <AddressType><TMPL_var contact_address_type></AddressType>
        <Address><TMPL_var contact_address></Address>
        <City><TMPL_var contact_address_city></City>
        <StateOrProvince><TMPL_var contact_address_province></StateOrProvince>
        <PostCode><TMPL_var contact_address_post_code></PostCode>
        <Country><TMPL_var contact_address_country></Country>
    </ContactAddress>
      <ContactVoiceTelephone><TMPL_var telephone_number></ContactVoiceTelephone>
      <ContactFacsimileTelephone><TMPL_var facsimile_number></ContactFacsimileTelephone>
  </ContactInformation>
  <Fees>
   <TMPL_var fees>
  </Fees>
  <AccessConstraints>
    <TMPL_var access_constraints>
  </AccessConstraints>
</Service>

<Capability>
  <Request>
    <GetCapabilities>
      <Format>text/xml</Format>
      <DCPType>
        <HTTP>
          <Get><OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" 
			       xlink:type="simple" 
			       xlink:href="<TMPL_var getmap_uri>" />
	  </Get>
          <Post><OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" 
			       xlink:type="simple" 
				xlink:href="<TMPL_var getmap_uri>" />
	  </Post>
        </HTTP>
      </DCPType>
    </GetCapabilities>
    <GetMap>
      <Format>image/svg+xml</Format>
      <Format>image/png</Format>
      <DCPType>
        <HTTP>
          <Get><OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<TMPL_var getmap_uri>"/></Get>
          <Post><OnlineResource xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<TMPL_var getmap_uri>"/></Post>
        </HTTP>
      </DCPType>
    </GetMap>
  </Request>
  <Exception>
    <Format>XML</Format>
  </Exception>

  <TMPL_if defined(inspire_extended_capabilities)>
    <inspire_vs:ExtendedCapabilities>
      <inspire_common:MetadataUrl xsi:type="inspire_common:resourceLocatorType">
	<inspire_common:URL>
http://catalog.fmi.fi/geonetwork/srv/en/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;ID=1234dfc1-4c08-4491-8ca0-b8ea2941c24a&amp;outputSchema=http://www.isotc211.org/2005/gmd&amp;elementSetName=full
	</inspire_common:URL>
	<inspire_common:MediaType>application/vnd.ogc.csw.GetRecordByIdResponse_xml</inspire_common:MediaType>
      </inspire_common:MetadataUrl>
      <inspire_common:SupportedLanguages xsi:type="inspire_common:supportedLanguagesType">
	<inspire_common:DefaultLanguage>
	  <inspire_common:Language><TMPL_var inspire_default_language></inspire_common:Language>
	</inspire_common:DefaultLanguage>
	<inspire_common:SupportedLanguage>
	  <inspire_common:Language><TMPL_var inspire_supported_language></inspire_common:Language>
	</inspire_common:SupportedLanguage>
      </inspire_common:SupportedLanguages>
      <inspire_common:ResponseLanguage>
	<inspire_common:Language><TMPL_var inspire_response_language></inspire_common:Language>
      </inspire_common:ResponseLanguage>
    </inspire_vs:ExtendedCapabilities>
  </TMPL_if>

 <Layer>
  <Title><TMPL_var layers_title></Title>
  <Abstract></Abstract>
  <TMPL_if defined(wms_layers)><TMPL_var wms_layers></TMPL_if>
 </Layer>
</Capability>
</WMS_Capabilities>
